<a href="https://colab.research.google.com/github/doyeonkp/algorithm/blob/main/%5B%EA%B5%AC%ED%98%84%5D%EC%8B%9C%EA%B0%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#총 경우의 수가 86,400 밖에 안되서 for loop을 3중으로 사용해도 된다 하는데....
# 경우의 수를 이용하여 구현하는 방법을 생각해봐야할듯...
hour = int(input())
cnt = 0
for i in range(hour+1):
    for j in range(60):
        for k in range(60):
            if "3" in str(i) + str(j) + str(k):
                cnt += 1
print(cnt)

5
11475

In [21]:
# 경우의 수를 이용하여 구현
# hh:mm:ss 3자리중 한자리에 최소 한번이라도 3이 나와야함으로
# 3이 나오지 않는 여사건을 구하여 전체에서 여사건수를 뺴주면 된다.
# 즉, hour가 5가 들어올경우 (0,1,2,3,4,5)시간중 3이 아닌 경우의 수는 0,1,2,4,5 총 5개
# min과 sec의 전체의 수는 60 중 3을 포함하지 않는 경우의 수는 45 -> 동시 발생 경우의 수는  5*45*45
# 전체의 경우의 수는 hour(0시를 포함하여야함으로 +1을 해준수) * 60 * 60 에서 위에서 구한 여사건수를 빼줌
hour = int(input()) + 1
cnt = 0

for i in range(hour+1):
    if "3" in str(i):
        cnt += 1

tmp = (hour - cnt) * 45 * 45
print(((hour)*60*60)-tmp)

5
11475